{% extends 'base.html' %}

{% block title %}
About
{% endblock title %}

{% block body %}
<div class="container-fluid">
    <img src="/static/sch4.jpg" class="d-block" style="width:100%">
</div>
<div style="background-color:green; padding: 20px">
    <h2>About School</h2>
    <p>ABC School was established to give tribute to Mr. ABC</p>
    <p>ABC School was established in year 2001</p>
    <p>Here we provide high quality education. Every classroom has modern projectors. Clean rooms well infrastructure</p>
    <p>24/7 electricity and water.</p>
    <p>Our teachers have higher skills in their respective subjects</p>
    <p>Click the teachers button to get details about our H.O.Ds and subject wise teachers</p>
</div>


{% endblock body %}

