{% block title %}
ASSIGNMENTS:
{% endblock title %}

{% block body %}

    <div class="assignment">
        <div class="container-fluid" style="background-color: aqua; padding: 40px">
        <div style="background-color: lightseagreen">
        <form method="post" action="/mathassignments" style="padding:10px; margin-left: 300px">
    {% csrf_token %}
                <label for="roll">Your Roll No.</label><br>
                <input type="text" id="roll" name="roll" placeholder="1234..."><br>
                <label for="topics">Topic Name: </label><br>
                <input type="text" id="topics" name="topics" placeholder="topic/topics from where the assignment was given"><br>
                <label for="dept">Dept: </label><br>
                <input type="text" id="dept" name="dept" placeholder="CSE/ECE/..."><br>
                <label for="sem">Semester: </label><br>
                <input type="text" id="sem" name="sem" placeholder="5th/2nd/.."><br>
                <div class="form-group">
                    <label for="ans">Please Write your answers here:</label><br>
                    <textarea class="form-control" id="ans" name="ans"></textarea>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn-primary">Submit</button>
                </div>
            </form>
            </div>
        </div>
    </div>
{% endblock body %}



