{% extends 'base.html' %}

{% block title %}
Teachers
{% endblock title %}

{% block body %}
    <div class="teachers" style="background-color: lightblue">
        <h1>Our Teachers: </h1>
        <div class="tchr1" style="padding: 20px; margin-left: 400px">
         <h3>Principal: Mr. XYZ</h3>
         <img src="..." alt="...">
        </div>
        <div class="tchr2" style="padding: 20px; margin-left: 400px">
            <h3>English Teacher: Mr. ABCD</h3>
            <img src="..." alt="...">
        </div>
        <div class="tchr3" style="padding: 20px; margin-left: 400px">
            <h3>Maths Teacher: Mr. AAA</h3>
            <img src="..." alt="...">
        </div>
        <div class="tchr4" style="padding: 20px; margin-left: 400px">
            <h3>Physics Teacher: Mr. Tchr4</h3>
            <img src="..." alt="...">
        </div>
    </div>
{% endblock body %}

